<html>
<head>
<script type="text/javascript" src="/static/validate.js"></script>
<link rel='stylesheet' type='text/css' href='/static/design.css'/>
<link type="text/css" rel="stylesheet" href="/static/design1.css">
<link rel='stylesheet' type='text/css' href='/static/stylesheet.css'/>
        <link rel='stylesheet' type='text/css' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
        <script type='text/javascript' src='script.js'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
</head>
<body>
<div class="w3-top">
<ul class="w3-navbar w3-black w3-card-2 w3-left-align">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="#" class="w3-hover-none w3-hover-text-grey w3-padding-large">Amogha</a></li>
  
  <li class="w3-hide-small"><a href="/logn/logout/" class="w3-padding-large">Logout</a></li>
  
  <li class="w3-hide-small w3-dropdown-hover">
    <a href="javascript:void(0)" class="w3-hover-none w3-padding-large" title="More">Levels <i class="fa fa-caret-down"></i></a>     
    <div class="w3-dropdown-content w3-white w3-card-4">
      <a href="/login/level1/">Level 1</a>
      <a href="/login/level2/">Level 2</a>
      <a href="/login/level3/">Level 3</a>
      <a href="/login/level4/">Level 4</a>
      <a href="/login/level5/">Level 5</a>
    </div>
  </li>

  <li class="w3-hide-small" id="pp">REGISTRATION FORM</li>
  <!--<li class="w3-hide-small w3-right"><a href="javascript:void(0)" class="w3-padding-large w3-hover-red"><i class="fa fa-search"></i></a></li>-->
</ul>
</div>

<form action="/login/level1/" name="StudentRegistration" onsubmit="return(validate());">
<div class="a1">
<div class="a3">

<table cellpadding="2" width="20%"  align="center"
cellspacing="2">

<tr>
<td colspan=2>

</td>
</tr>

<tr>
<td>Name&nbsp;&nbsp;&nbsp;</td>
<td><input type=text name=textnames id="textname" size="30"></td>
</tr>

<tr>
<td>Father Name</td>
<td><input type="text" name="fathername" id="fathername"
size="30"></td>
</tr>
<tr>
<td>Present Address</td>
<td><input type="text" name="paddress" id="paddress" size="30"></td>
</tr>

<tr>
<td>Permanent Address</td>
<td><input type="text" name="personaladdress"
id="personaladdress" size="30"></td>
</tr>

<tr>
<td>Gender</td>&nbsp;&nbsp;
<div class="right">
<td><center><input type="radio" name="sex" value="male" size="10">Male
<input type="radio" name="sex" value="Female" size="10">Female</center></td></div>
</tr>

<tr>
<td>City</td>	
<div class="right">
<td ><select name="City">
<option value="-1" selected>select..</option>
<option value="New Delhi">NEW DELHI</option>
<option value="Mumbai">MUMBAI</option>
<option value="Bengaluru">BENGALURU</option>
<option value="Hyderabad">HYDERABAD</option>
</select></td>
</div>
</tr>



<tr>
<td>State</td>
<div class="right">
<td><select Name="State">
<option value="-1" selected>select..</option>
<option value="Haryana">HARYANA</option>
<option value="Maharashtra">MAHARASHTRA</option>
<option value="Karnataka">KARNATAKA</option>
<option value="Andhra">ANDHRA PRADESH</option>
</select></td>
</div>
</tr>
<tr>
<td>PinCode</td>
<td><input type="text" name="pincode" id="pincode" size="30"></td>
</tr>

<tr>
<td>Course</td>
<div class="right"><center>
<td><select name="Course">
<option value="-1" selected>select..</option>
<option value="B.Tech">B.TECH</option>
<option value="MCA">MCA</option>
<option value="MBA">MBA</option>
<option value="BCA">BCA</option>
</select></td>
</div>
</center>
</tr>

<tr>
<td>EmailId</td>
<td><input type="text" name="emailid" id="emailid" size="30"></td>
</tr>

<tr>
<td>DOB</td>
<div class="right">
<td><input id="datepicker" /></td>
</div>
</tr>

<tr>
<td>MobileNo</td>
<td><input type="text" name="mobileno" id="mobileno" size="30"></td>
</tr>
<tr>
<td><input type="reset"></td>
<td colspan="2"><input type="submit" value="Submit Form" /></td>
</tr>
</table>
</div>
</div>
</br></br>
</form>
</body>
</html>
