<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<head>
<link rel="stylesheet" type="text/css" href="/static/design.css"/>
<link rel="stylesheet" type="text/css" href="/static/design1.css"/>
<title>LEVEL 1 - TEST 1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
#a1
{
  margin-left:900px;
  margin-top:5px;
}
#a2
{
  margin-left: 1100px;
  margin-top: -47px;
}
</style>
<!--body {font-family: "Lato", sans-serif}
.mySlides {display: none}
#map {   height: 400px;
        width: 100%;
       }
       input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-size: 25px 25px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
margin: 10% 50% 5% 30%;
}
.img1
{
  filter: grayscale(100%);
}
.img2
{
  filter: grayscale(100%);
}
.img3
{
  filter: grayscale(100%);
}

input[type=text]:focus {
    width: 45%;
}
#search
{
  background-image: url(me4.jpg);
  filter: grayscale(100%);
}
.mySlides w3-display-container w3-center{
  filter: filter: grayscale(100%);
}

</style>-->
</head>

<body>
<div class="w3-top">
<ul class="w3-navbar w3-black w3-card-2 w3-left-align">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="#" class="w3-hover-none w3-hover-text-grey w3-padding-large">Amogha</a></li>

  <li class="w3-hide-small" id="a1"><a href="/login/login/" class="w3-padding-large">Login</a></li>
  
<li class="w3-hide-small" id="a2"><a href="/login/signup" class="w3-padding-large">Signup</a></li>
  
 <!--<div class="mySlides w3-display-container w3-center">
<img src="image.jpg" class="img1" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
         
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="image1.jpg" class="img2" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
          
    </div>
  </div>
  <div class="mySlides w3-display-container w3-center">
    <img src="image3.jpg" class="img3" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
          
    </div>
  </div>
</div> 
   
  <!--<li class="w3-hide-small w3-right"><a href="javascript:void(0)" class="w3-padding-large w3-hover-red"><i class="fa fa-search"></i></a></li>-->
</ul>
</div>
<script>
// Automatic Slideshow - change image every 4 seconds
/*var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}*/
</script>

</body>
</html>
